{% extends 'base.html' %} {% block content %}

<div class="yourdog-body">

    {% for dog in dogs %}
    <div class="yourdog">
        <div class="yourdog-left"><i class="fa-solid fa-dog"></i></div>
        <div class="yourdog-right">
            <div class="yourdog-name"><a href="/mydog/{{dog.id}}">{{dog.dogname}}의 하루</a></div>
            <div class="yourdog-dogtype">견종: {{dog.dogtype}}</div>
            <div class="yourdog-dogAbout">"{{dog.dogAbout}}"</div>
        </div>

    </div>

    {% endfor %}

</div>


{% endblock %} {% block title %} 내개니개 {% endblock %}